.option-container{
    width: 100%;
    text-align: center;
}

.option {
    width: 40%;
    text-align: center;
    border: none;
    outline: none;
    padding: .5rem 1rem;
    border-radius: 2rem;
    margin: 0.3rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: #2a2a2a;
    border: 2px solid #2a2a2a;
}

.picked {
    transform: translateX(50px);
}

.correct {
    color: #000;
    background-color: #fff;
    border: 2px solid var(--success);

}

.incorrect {
    color: #000;
    background-color: #fff;
    border: 2px solid var(--wrong);

}
