@font-face {
  font-family: iransans;
  src: url(./font/iransansweb.ttf);
}
@font-face {
  font-family: iransans;
  font-weight: bold;
  src: url(./font/IRANSansWeb_Bold.ttf);
}

:root {
  --primary: rgb(35, 80, 120);
  --secondary: rgb(200, 225, 200);
  --success: #198754;
  --wrong: #dc3545;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "iransans";
  color: #fff;
}
h1,
header {
  background-color: var(--primary);
}
p {
  background-color: var(--secondary);
  color: #000;    
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
